.jiraNowSideButton {
  width: 170px;
  height: 50px;
  color: #009CDE;
  background-color: #fff;
  border: 1px solid #c5c5c1;
  position: fixed;
  display: block;
  left: -120px;
  bottom: 100px;
  z-index: 1000000;
  cursor: pointer;
  overflow: hidden;
}

.jiraNowSideButton:hover {
  left: 0px;
}

.jiraNowSideButton i {
  padding-top: 7px;
  padding-left: 5px;
}

.jiraNowSideButton span {
  color: black;
  font-size: 18px;
  font-family: 'Open Sans',sans-serif;
  float: left;
  padding-top: 10px;
  padding-left: 10px;
}